[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Roman_Proskuryakov
	email = 2romanio005@gmail.com
	#email = MyEducation11235@gmail.com
[core]
	quotepath = false
	hooksPath = "C:/MainFolder/Notes/MANs/4 VERSION CONTROL SYSTEMS man/GIT/git settings/hooks/"
[i18n]
	commitencoding = utf8
	logoutputencoding = utf8
[safe]
	directory = "*"
	directory = F:/MainFolder/Projects/Arduino/Brizer
	directory = F:/MainFolder/Projects/Arduino/FloodEliminator
	directory = F:/MainFolder/Projects/Flutter/budilnik
	directory = F:/MainFolder/Projects/Flutter/cramming_poems
	directory = F:/MainFolder/Projects/C++/Toys/Bombers
	directory = F:/MainFolder/Projects/C++/Toys/Life_simulation
	directory = F:/MainFolder/Projects/C++/Useful programs/File_comparison
	directory = F:/MainFolder/Projects/C++/Useful programs/Cramming
	directory = F:/MainFolder/Projects/Processing/3D Tic-Tac-Toe
	directory = F:/MainFolder/Study/University/2 semester/АиСД/speedrun2-MyEducation11235
	directory = F:/MainFolder/Study/University/1 semester/АиСД/speedrun2023-MyEducation11235
	directory = F:/MainFolder/Study/University/1 semester/Programming
	directory = F:/MainFolder/Work/Резюме/Resume-Cpp-1
[alias]
	conf = lconf
	lconf = config --local -e
	gconf = config --global -e
	sconf = config --system -e
	
	s = status
	c = commit -m
	a = add -A
	ac = "!git a; git c"
	asc = "!git a; git s; git c"
	
	b = branch
	ch = checkout
	sw = switch
	
	delete-all-dev-branches = "!git branch | grep -v \"develop\" | grep -v \"master\" | grep -v \"main\" | grep -v \"$(git branch --show-current)\" | xargs git branch -d"
	delete-all-dev-branches-force = "!git branch | grep -v \"develop\" | grep -v \"master\" | grep -v \"main\" | grep -v \"$(git branch --show-current)\" | xargs git branch -D"
	
	p = push origin
	ph = "!git push origin \"$(git symbolic-ref --short HEAD)\""
	hp = ph
	f = fetch
	
	sub = submodule update --init --recursive
	
	d = restore --staged
	cancel-commit = reset --soft HEAD~
	clear-f = clean -fd
	clear = clean -nd
	clear-n = clear
	
	test = "!git add -A; git commit -m "test"; git push origin main; git tree"
	
	tree = log --graph --oneline --all -15
	atree = log --graph --oneline --all -28
	altree = log --graph --oneline --all
	alltree = log --graph --oneline --all
	t = alltree
	
	df = diff
	dfh = df HEAD
	dft = difftool
	
	filelist = ls-files
	files = ls-files
	list = ls-files
[credential]
	helper = manager
